<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>
            WELCOME TO PRACTICE
        </title>
        <style type="text/css">
            [v-cloak]{
                display: none;
            }

            div{text-align: center;}

            .middle{
                margin-top: 200px;
            }

            .center{
                margin-top: auto;
                margin-bottom: auto;
                margin-left: auto;
                margin-right: auto;
            }

            .notbold{
                font-weight: normal;
            }
        </style>
    </head>
    <body>
        {% raw %}
        <div class="middle" id="app" v-cloak>
            <h1>{{ title }}<br/></h1>
            <table class="center">
                <tr>
                    <td style="text-align: right;">賬號（Username）：</td>
                    <td><input type="username" v-model="username"></td>
                </tr>
                <tr>
                    <td style="text-align: right;">密碼（Password）：</td>
                    <td><input type="password" v-model="password"></td>
                </tr>
            </table>
            <br/><br/>
            <button class="center" v-on:click="check_login"> 登入 (Login)</button>
            <a href="register.html" target="_blank"><h6 class="notbold">Register here</h6></a>
        </div>
        {% endraw %}
        <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.js'></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script>
            let vm = new Vue({
                el:'#app',
                data:{
                    title:'WELCOME TO PRACTICE',
                    email:'',
                    username:'',
                    password:'',//登入密碼
                    info:'',
                },

                methods:{
                    check_login:function(){//使用者登入
                        axios.post("http://127.0.0.1:5000/loginpage",{
                            username: this.username,
                            password: this.password
                        }).then((res)=>{
                            console.log(res.data);
                            if(res.data.status==="success")
                                window.location.href='user.html';
                            else
                                alert(res.data.status);
                        })
                    }
                }
            })
        </script>
    </body>
</html>