<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>
            Edit
        </title>
        <style type="text/css">
            [v-cloak]{
                display: none;
            }

            div{text-align: center;}

            .middle{
                margin-top: 80px;
            }

            .center{
                margin-top: auto;
                margin-bottom: auto;
                margin-left: auto;
                margin-right: auto;
            }

            .notbold{
                font-weight: normal;
            }

        </style>
    </head>

    <body>
        <a href="user.html"><button>Back</button></a><!--回到使用者登入後的界面-->
        {% raw %}
        <div class="middle" id="app" v-cloak>
            <h1>Hi, {{username}}<br/><br/></h1>
            <table class="center">
                <h3>Friend List</h3>
                <tr>                    
                    <th style="text-align: center;">Friend</th>
                    <th style="text-align: center;">Email</th>
                </tr>
                <tr v-for="(item,index) in friend"><!--更新資訊欄-->
                    <td style="text-align: left;"><input type="username" v-model="item.name"></td>
                    <td style="text-align: left;"><input type="email" v-model="item.email"></td>
                    <td><button v-on:click="edit(index)">編輯(edit)</button></td>
                    <td><button v-on:click="deleteone(index)">刪除(delete)</button></td>
                </tr>
                <tr><!--新增朋友-->
                    <td style="text-align: left;"><input type="username" placeholder="(name)" v-model="new_friend"></td>
                    <td style="text-align: left;"><input type="email" placeholder="(email)" v-model="new_email"></td>
                    <td><button v-on:click="addnew">新增(new)</button></td>
                </tr>
            </table>
        </div>
        {% endraw %}
        <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.js'></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script>
            let vm = new Vue({
                el:'#app',
                data:{
                    title:'WELCOME TO PRACTICE',
                    email:'',
                    username:'',
                    password:'',//登入密碼
                    password_1:'',//注冊密碼1
                    password_2:'',//注冊密碼2
                    info:'',
                    friend: [],
                    new_friend:'',
                    new_email:''
                },

                methods:{

                    edit:function(index){//修改資訊
                        console.log(index);
                        axios.post("http://127.0.0.1:5000/updatelist",{
                            friendid: this.friend[index].id,
                            friendname: this.friend[index].name,
                            friendemail: this.friend[index].email
                        }).then(()=>{
                            window.location.href='user.html';
                        })
                    },
                    addnew:function(){
                        if(this.new_friend!==''&&this.new_email!==''){
                            axios.post("http://127.0.0.1:5000/addlist",{
                                friendname: this.new_friend,
                                friendemail: this.new_email
                            }).then(()=>{
                                window.location.href='user.html';
                            })
                        }
                    },
                    deleteone:function(index){//修改資訊
                        console.log(index);
                        axios.post("http://127.0.0.1:5000/deletelist",{
                            friendid: this.friend[index].id,
                        }).then(()=>{
                            window.location.href='user.html';
                        })
                    }
                },
                mounted(){
                    axios.post("http://127.0.0.1:5000/getlist").then((res)=>{
                        this.friend=res.data.friendlist;
                    })
                }
            })
        </script>
    </body>
</html>